source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data       
nuget FSharp.Text.RegexProvider
nuget FSharp.Control.AsyncSeq
nuget FsUnit.xUnit
nuget FSharp.Interop.Dynamic
nuget Dapper
nuget Serilog
nuget Serilog.Sinks.Console
nuget xunit
nuget xunit.runner.visualstudio version_in_path: true