source https://www.nuget.org/api/v2
nuget Dapper.Bulk
nuget FAKE
nuget FSharp.Configuration
nuget FSharp.Core 4.0.0.1
nuget FSharp.Data       
nuget FSharp.Text.RegexProvider
nuget FSharp.Control.AsyncSeq 2.0.11
nuget FsUnit.xUnit
nuget FSharp.Interop.Dynamic
nuget Dapper
nuget Serilog
nuget Serilog.Sinks.Console
nuget System.ValueTuple
nuget xunit
nuget xunit.runner.visualstudio version_in_path: true