<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WeatherStation" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WeatherStation;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="maxTimeIntervalDays" value="100"/>
    <add key="dbInsertTimeout" value="05:00:00"/>
    <add key="dbInsertBatchSize" value="1000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>